log/*.log
logs
target/*
target
screenshot
screenshot/*
test-output
.project
.idea
.classpath
*.iml
libraries
libraries/*
WebAppAutomation.iml
src/test/resources/config.properties
src/test/resources/data.properties
